* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  font-size: 10px;
}
#section-1 {
  width: 100vw;
  height: 110vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.548)),
    url(background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  border-bottom: 0.8rem solid #333232;
}
.section-1-container1 {
  display: flex;
  /* border: 1rem solid blue; */
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 9rem;
}
.netflix-logo {
  position: relative;
  left: 7rem;
  top: 1rem;
}
.netflix-logo img {
  height: 4.5rem;
  width: 17 rem;
}
.buttons-block {
  display: flex;
  /* border: 1rem solid red; */
  width: 22rem;
  height: 3.5rem;
  justify-content: space-between;
  position: relative;
  right: 5rem;
}
.sign-in-button {
  border: none;
  color: #fff;
  background-color: rgb(229, 9, 20);
  border-radius: 0.4rem;
  width: 8rem;
  font-weight: 450;
  font-size: 1.6rem;
}
#lang {
  color: white;
  background-color: #111;
  width: 9rem;
  border: 0.07rem solid white;
  font-weight: 450;
  font-size: 1.6rem;
  outline: none;

  border-radius: 0.4rem;
}
.lang-option {
  color: white;
  background-color: black;
  font-size: 1.6rem;
  width: 10rem;
}
.middle-content-text {
  color: #fff;
  position: relative;
  top: -4.2rem;
}
.middle-content-text h1 {
  font-size: 5.2rem;
}
.middle-content-text h5 {
  position: relative;
  top: 4rem;
  font-size: 2.4rem;
}
.middle-content-flex {
  display: flex;
  /* border: 1rem solid red; */
  flex-direction: column;
}
.middle-caption {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-address-bar {
  /* border: 1rem solid blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5.7rem;
  /* width: 60%; */
  position: relative;
  bottom: 9rem;
}
.add-bar-half {
  width: 40rem;
  height: 100%;
  background-color: white;
  color: silver;
  font-size: 2.2rem;
}
.add-bar-half ::placeholder {
  color: grey;
  font-size: 2.2rem;
  position: relative;
  padding-left: 1rem;
}
#get-started-btn button {
  width: 20rem;
  height: 100%;
  border: black 0.05rem solid;
  background-color: red;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}
#e-add {
  position: relative;
  width: 100%;
  height: 100%;
}
hr {
}
#image-d {
  background-color: #000;
  background-blend-mode: multiply;
}

.section-2 {
  width: 100vw;
  height: 80vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-3 {
  width: 100vw;
  height: 80vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-4 {
  width: 100vw;
  height: 90vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-5 {
  width: 100vw;
  height: 90vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-6 {
  width: 100vw;
  height: 150vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
.footer {
  width: 100vw;
  height: 70vh;
  background-color: #000;
  border-bottom: 0.8rem solid #333232;
}
.text1 {
  color: #fff;
  /* border: 1px solid red; */
  height: fit-content;
  width: 53rem;
}
.text1 > h1 {
  font-size: 4.8rem;
  line-height: 10rem;
  font-weight: 650;
}
.text1 > p {
  font-size: 2.5rem;
  /* font-weight: 650; */
}
.image {
  /* border: 1px solid yellow; */
}
.image > img {
  position: relative;
  width: 50rem;
}
.section-6 > h1 {
  color: #fff;
  font-size: 5.2rem;
  font-weight: 700;
  position: relative;
  margin-top: 6rem;
}
.section-6 > p {
  color: #fff;
  width: 70rem;
  font-size: 2.1rem;
  font-weight: 500;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  /* border: 1px solid blue; */
}
.questions {
  height: max-content;
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.questions > div {
  height: 7.5rem;
  width: 80rem;
  background-color: #333232;
  border-bottom: 1rem solid black;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 2rem;
}

.questions > div > span {
  color: #fff;
  font-size: 6.5rem;
  position: relative;
  bottom: 1rem;
  font-weight: 100;
}
.email {
  display: flex;
  width: 72rem;
  height: 7rem;
  /* border: 3px solid yellow; */
}
.email > div {
  width: 70%;
  height: 100%;
}
.email > span {
  width: 30%;
  height: 100%;
}
.email > div > input {
  border-radius: 0.3rem 0 0 0.3rem;

  width: 100%;
  height: 100%;
  border: none;
  font-size: 2rem;
  outline: none;
  position: relative;
  padding-left: 1rem;
}
.email > div > input::placeholder {
  color: grey;
  font-size: 1.6rem;
  position: relative;
  bottom: 0.4rem;
  padding-left: 1rem;
}
.email > span > button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2.8rem;
  color: #fff;
  background-color: red;
  border-radius: 0 0.3rem 0.3rem 0;
}
.footer {
  display: flex;
  /* border: 1px solid yellow; */
  justify-content: center;
  align-items: center;
}
.Outer-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid green; */
  width: 75rem;
  height: 30rem;
}
.Outer-main > h3 {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: #757575;
}
.Outer-main > div > p {
  color: #757575;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.outer1 {
  display: flex;
  /* flex-direction: ; */
  height: 70rem;
}
.inner1 {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  width: 20rem;
  justify-content: flex-start;
}
.inner1 > h5 {
  width: max-content;
  /* border: 1px solid blue; */
  line-height: 3rem;
  float: left;
  color: #757575;
}
.lang {
  /* border: 4px solid red; */
  width: 12rem;
  height: 5rem;
  margin-top: 3rem;
  background-color: #000;
  color: #757575;
  font-size: 2rem;
}
.lang-option {
  background-color: #000;
  color: #fff;
  text-align: center;
}
